---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/209214662535456?access_token=186380458197207%7CAsLPUwNdobrdrpmuG_JUG2ZsM54
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"bdc10374374c3fdc71a7b202aaef9d7695036130"'
    body:
      encoding: UTF-8
      string: '{"id":"209214662535456","owner":{"category":"Transportation","category_list":[{"id":"163431627040738","name":"Boat
        Service"}],"name":"Re\u010dni transport Ladjica","id":"1401826506698650"},"name":"Tralala","description":"Hopsasas","start_time":"2013-08-23","is_date_only":true,"location":"Re\u010dni
        transport Ladjica","venue":{"latitude":46.042627666252,"longitude":14.506661271181,"city":"Ljubljana","state":"","country":"Slovenia","id":"1401826506698650","street":"Trnovski
        pristan 8","zip":"1000"},"privacy":"OPEN","updated_time":"2013-08-19T18:31:51+0000"}'
  recorded_at: Thu, 22 Aug 2013 17:10:37 GMT
recorded_with: VCR 2.5.0
