---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/Ladjica/events?access_token=186380458197207%7CAsLPUwNdobrdrpmuG_JUG2ZsM54
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"d7c108ae1021dffd9a4721d54d2c99d8e7cc79b4"'
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Tralala","start_time":"2013-08-23","location":"Re\u010dni
        transport Ladjica","id":"209214662535456"},{"name":"Test","start_time":"2013-08-21T19:00:00+0200","timezone":"Europe\/Ljubljana","location":"Re\u010dni
        transport Ladjica","id":"500370866714288"}],"paging":{"previous":"https:\/\/graph.facebook.com\/1401826506698650\/events?access_token=186380458197207|AsLPUwNdobrdrpmuG_JUG2ZsM54&limit=5000&since=1377216000&__paging_token=209214662535456&__previous=1","next":"https:\/\/graph.facebook.com\/1401826506698650\/events?access_token=186380458197207|AsLPUwNdobrdrpmuG_JUG2ZsM54&limit=5000&until=1377104400&__paging_token=500370866714288"}}'
  recorded_at: Thu, 22 Aug 2013 15:33:27 GMT
recorded_with: VCR 2.5.0
